/* Default  Css Start */

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}

.container{
    width: 1100px;
    margin: auto;
    /* background-color: aqua; */
}

.common-span{
    color: #E55473;
}

/* Default css End*/

/* hero section css start */
.hero-area{
    background: rgba(229, 84, 115, 0.10);
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
}
.hero-title{
    color: #272727;
    font-size: 40px;
    font-weight: 900;
}
.hero-photo{
    width: 400px;
    
}
.hero-discription{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 32px 0px;
}
.hero-btn{
    padding: 20px 42px;
    border-radius: 8px;
    background-color: #E55473;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: none;
}
/* hero section css End */
/* Our feauted Section Start */
section.our-featured {
    padding: 130px 0px;
}
.our{
    text-align: center;
    padding: 30px 0px;
}
.our-title{
    color: #272727;
    font-size: 40px;
    font-weight: 900;
}
.our-discription{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 20px 0px;
    text-align: center;
}
.fea-fl{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.featur-img{
    text-align: center;
}
.feature-item{
    
}
.fe-photo{
    background: #E55473;
    border-radius: 300px 300px 5px 5px;
    padding: 100px 70px 0px 70px;
}
.fe-photo\:nth-child\(2\) {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 175px 70px 0px 70px;
}
.fe-photo\:nth-child\(3\){
    background-color: rgba(71, 125, 17, 0.15);
    border-radius: 300px 300px 5px 5px;
    padding: 76px 70px 0px 70px;
}
a.feature-a {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin: 20px 0px;
    display: block;
}

img.flow {
    width: 200px;
}
/* Delivery Area Start */
.delivary-area{
    margin: 0px 0px 130px 0px;
}
.delivery{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #2727270D;
    padding: 80px;
}
.delivery-box{
    text-align: center;
}
.delivery-p{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 35px;
}
/* Delivery Area End */

/* Our feauted Section End */
/* Hot deal section Css Start */
.hot-deal-area{
    padding: 100px;
    background-color: rgba(229, 84, 115, 0.05);
    ;
}
.hot-deal{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.hot-deal-tittle {
    text-align: center;
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;

}
.hot-deal-discription {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 20px 0px;
    text-align: center;
}
.hot-deal-btn{
    padding: 20px 42px;
    border-radius: 8px;
    background-color: #E55473;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: none;
    text-align: center;
}
/* Hot deal section Css End */

/* Instagram Section Css Start */
.instagram-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;

}
/* Instagram Section Css End */
.instagram-area{
    padding: 130px 0px;
}
.instagra-img{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.instagram-photo{
    width: 250px;
    border-radius: 5px;
}
.instagram-content{
    text-align: center;
}
.instagram-discription{
    margin: 25px 0px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.instagram-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
/* instaram section end */
/* get section start */
.get-area{
    padding: 0px 0px 130px 0px;
}
.get-content{
    text-align: center;
    background-image: url(../asset/Rectangle9.png);
    background-position: center center;
    border-radius: 8px;
    background-size: cover;
    padding: 120px 0px;
}
.get-tittle{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.get-discription{
    color: rgba(39, 39, 39, 0.60);
   
    font-size: 18px;
    margin: 16px 0px;
    font-weight: 400;
    line-height: 30px;
}
input[type="email"] {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    padding: 20px;
    width: 500px;
    border: none;
    border-radius: 8px;
    margin-right: 10px;
}
input.get-btn {
    padding: 20px 42px;
    border-radius: 8px;
    background-color: #E55473;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: none;
    text-align: center;
}
/* get section End */

/* Footer Section Css Start */
.footer-area{
    background: #111010;
}
.footer-content {
    text-align: center;
    padding: 128px 0px;
}
.footer-title{
    color: #fff;
    font-family: Lato;
    font-size: 48px;
  
    font-weight: 900;
    
}
.footer-discription{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    margin: 20px 0px;
    font-weight: 400;
    line-height: 30px;
}
.footer-copyright{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
/* footer-conten Css End */